*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    height:100vh;
    background: url(./img/bnr1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;

 
}
body.after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
  }

.header{
    padding:1rem;
    justify-content: space-between;
    display: flex;
    background-color: aqua;
}
p{
    margin:0;
    padding:0;
}
.Main{
    margin:2rem auto;

    
   
    text-align: center;
    padding:2rem 1rem;
    background-color: #ffff00d1;
}

.Main1{
    width:100%;
   
    
    text-align: center;
   

}
.Main3{
   
    margin:2rem auto;
   
    
    text-align: center;
   

}
.row{
    padding:0.5rem;
}

ul{
    list-style: none;
    padding:1rem !important;
}
.Main1 ul li{
    width:100%;
    padding:0.5rem;
 
    background-color:aqua;
    cursor: pointer;
    
    text-align: left;
    position:relative;
    
}
.Main3 ul li{
    width:100%;
    padding:0.5rem;
    margin:0.5rem;
    background-color:aqua;
    cursor: pointer;
    
    text-align: left;
    position:relative;
    
}
